#main_header {
  background:url(../images/header_bg.jpg);
  max-width:100%;
  background-position:center;
  background-size:cover;
}
#main_headline {
  background-color: #ffffffa3;
  padding-top:50px;
  padding-bottom:50px;
  max-width: 1080px;
  margin:0 auto;
  border: solid 1px #ffffffa3;
  border-radius: 3px;
}
.main_headline_p {
  font-weight:bold;
}
.brewery-name {
  border: grey solid 1px;
  padding: 1rem;
  width: 18rem;
  height: 11rem;
  text-align:center;
  font-size:15px !important;
  display: inline-grid;
  margin: 1rem 1rem;
}
.brewery-collection {
  margin: 2rem;
  text-align: center;
}
.card-title {
text-align: center;
}
.check {
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  border: 1px solid #000;
  cursor: pointer;
}


form#comment-form {
  padding-top: 20px;
  margin: 0 auto;
}
.add-brewery {
  text-align: center;
  padding-top:20px;
}
.filter-brewery-dropdown {
  text-align: center;
}
.brewery-form {
  border: 1px solid #000;
  margin-right: 35%;
  margin-left: 35%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.input-text {
  margin-bottom:10px;
}
.submit {
  margin-top:10px;
}
.changed {
  opacity: 0;
  transition: opacity 2000ms;
}
.checkmark-hidden {
  font-size:35px;
  color:green;
}