#main_header {
  background:url(../images/header_bg.jpg);
  max-width:100%;
  background-position:center;
  background-size:cover;
}

#main_headline {
  background-color: #ffffffa3;
  padding-top:50px;
  padding-bottom:50px;
  max-width: 1080px;
  margin:0 auto;
  border: solid 1px #ffffffa3;
  border-radius: 3px;
}
.main_headline_p {
  font-weight:bold;
}
.card {
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 1rem;
}
#brewery-collection {
  margin: 2rem;
}

.input-group.mb-3 {
  margin-top: 1rem;
}

.card-title {
text-align: center;
}

.check {
  margin: 0 auto;
  padding-bottom:20px;
  padding-top:10px;
}
.fa-check {
  margin-left:10px;
  font-size:24px !important;
  padding: 10px 10px 10px 10px;
}